{% extends "../extends/parent.twig" %}
{% block foo %}
    <div class="header">
        {% block header %}
            Skeleton header
        {% endblock %}
    </div>
    <div class="content">
        {{ parent() }}
    </div>
    <div class="footer">
        {% block footer %}
            Skeleton footer
        {% endblock %}
    </div>
{% endblock %}