{% extends "./parent.twig" %}
{% block foo -%}
    FOO
    {%- if block("foo", "./parent.twig") is defined -%}
        {{ parent("foo") }}
    {%- endif %}
    {%- if block("bar") is defined -%}
        We should not get there
    {%- endif %}
{% endblock %}